
.navibar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navibar .logo img {
  width: 100px;
}
.navibar .links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navibar .links a {
  text-decoration: none;
  color: white;
  margin: 10px 15px;
  font-weight: 600;

}
.navibar .links button {
  color: white;
  background-color: black;
  padding: 5px 15px;
  border-radius: 10px;
  font-weight: 600;
}

.loto {
  width: 597px;
  position: absolute;
  right: 80px;
  top: 100px;
  height: 373px;
}
.vector {
  position: absolute;
  left: 439.53px;
  top: -103.83px;
  z-index: -1;
  width: 908.91px;
  height: 724.65px;
  transform: rotate(22.09°);
}
.navibar .links li {
  margin-right: 30px;
}

.texts .rent {
    font-size: 60px;
    font-family: Montserrat;
    text-transform: capitalize;
    font-weight: 700;
    margin-top: 90px;
    margin-bottom: 30px;
    line-height: 81px;

}
.rent span {
  color: var(--main-color);
}

.texts .under {
  font-family: poppins;
  text-wrap: wrap;
  width: 450px;
  font-size: 14px;
  font-weight: 300;
  color: #777777;
  line-height: 21px;
  letter-spacing: -2%;
}

.reserver {
  position: absolute;
  right: 50%;
  transform: translate(-50% , -50%);
  background-color: var(--main-color);
  margin-top: 150px;
  box-shadow: 3px 4px 4px  hsla(0, 0%, 0%, 50%);
}